!!!
html(lang="en")
  head
    meta(charset="utf-8")
    != SocketStream
    title FanBot - RoboCup 2013
  body
    #content
      table#head(width='100%')
        tr
          td#eventinfo(width='500px',valign='top')
            img(src='/images/screen1.png')
          td(valign='top')
            h1 Registrations
            #counter 42
            form#demo(onsubmit='return false')
              #chatlog
              //- input(id='myMessage', type='text', autocomplete='off')
          td#eventinfo(width='500px',valign='top')
            img(src='/images/screen2.png')
      
      table#last(width='100%')
        tr
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
        tr
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
          td
            img(src='/uploads/0909FD34.jpg',width='240',height='320')
